html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: #FFF59D;
  font-size: 16px;
  font-family: monospace;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 100vh;
}

.WakeMe {
  color: #B71C1C;
  font-size: 8rem;
  margin: 0;
}

.WhenIts {
  color: #111;
  font-size: 2rem;
}
