{
  "extends":  "eslint-config-airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": 0,
    "max-len": [2, 150],
    "new-cap": 0
  },
  "globals": {
    "__GERTY_EXISTS__": true,
    "__GERTY_PATH__": true,
  }
}
