{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": 0,
    "max-len": [2, 150],
    "new-cap": 0
  },
  "globals": {
    "__OUTPUT_BASE__": true,
    "__GERTY_ENV__": true,
    "__GERTY_ENTRY__": true,
    "__GERTY_PATH__": true,
    "__DEV__": true,
    "__PROD__": true,
    "__CLIENT__": true,
    "__SERVER__": true
  }
}
